<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/a.css') }}">
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<h1>Card Image with description on :hover</h1>
<div class="cards">
    <div class="card">
        <h2 class="card-title">Seal</h2>
        <img src="https://images.unsplash.com/photo-1591485423007-765bde4139ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
             alt="">
        <p class="card-desc">Seal</p>
    </div>
    <div class="card">
        <h2 class="card-title">Seal</h2>
        <img src="https://images.unsplash.com/photo-1591485423007-765bde4139ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
             alt="">
        <p class="card-desc">Seal</p>
    </div>
    <div class="card">
        <h2 class="card-title">Lion</h2>
        <img src="https://images.unsplash.com/photo-1534188753412-3e26d0d618d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
             alt="">
        <p class="card-desc">Lion</p>
    </div>
    <div class="card">
        <h2 class="card-title">Hawk</h2>
        <img src="https://images.unsplash.com/photo-1534251369789-5067c8b8602a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
             alt="">
        <p class="card-desc">Hawks</p>
    </div>
</div>
</body>
</html>